<% if @post.persisted?
     action = "/posts/#{@post.id}"
else
       action = "/posts"
 end %>
<form action="<%= action %>" method="post">
  <%= '<input type="hidden" name="_method" value="patch">'.html_safe if @post.persisted? %>
  <label>Title<input for="text" name="post[title]" value="<%= @post.title %>"></label><br/>
  <label>Body<textarea name="post[body]" rows="8" cols="40"><%= @post.body %></textarea></label><br/>
  <input type="submit" name="submit" value="Update!">
</form>