<h1>Posts</h1>
<table>
<% @post.each do |post| %>
<tr><td><p><%= link_to post.title, "/posts/#{post.id}" %></td>
  <td><%= link_to image_tag('http://pngwebicons.com/upload/recycle_bin_PNG9115.png', height: '30px'), "/posts/#{post.id}", method: 'delete' %><p></td>

<% end %>
</table>
<%= link_to 'New Post', '/posts/new' %>